body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box {
  width: 100vw;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white
}
